<div class="title">
  <h1 class="head1">About Us</h1>
</div>
<div class="body">
  <h4 class="head2">Our background</h4>
  <p class="text1">
    It is a community for 10th batch of Sainik School Nalanda. It is a plateform
    which help us to keep connected. It is not a community where no one is
    forced to join, it totally depends on individual wish whether he want to be
    the part of this community or not.
  </p>
  <h4 class="head2">Our Aim</h4>
  <ul class="text2">
    <li>We are commited to make a financial backup for us.</li>
    <li>Every member has to contribute a small amount periodically.</li>
    <li>
      In some tough situation we help our members as per some underlying rules.
    </li>
  </ul>
  <h4 class="head2">Us</h4>
  <div class="flex">
    <img class="image" src="/assets/home image/home1.jpg" alt="" />
    <img class="image" src="/assets/home image/home2.jpg" alt="" />
    <img class="image" src="/assets/home image/home3.jpg" alt="" />
    <img class="image" src="/assets/home image/home4.jpg" alt="" />
    <img class="image" src="/assets/home image/home5.jpg" alt="" />
    <img class="image" src="/assets/home image/home6.jpg" alt="" />
  </div>
</div>
