<div class="head">
  <h1 class="title">MAURYAN X UNITED</h1>
</div>
<div class="body">
  <div class="text1">
    <h5 class="head1">Basic Criteria of Membership</h5>
    <ul class="para">
      <li>
        To be the part of the MXU community you must be the part of the 10th
        batch of <b>Sainik School Nalanda</b>.
      </li>
      <li>
        If you don't fulfill the above criteria, then you cannot be the part of
        the committee.
      </li>
    </ul>
  </div>
  <div class="text2">
    <h5 class="head2">Data required to be given to apply for the membership</h5>
    <ul class="list">
      <li class="items">School Number</li>
      <li class="items">Name</li>
      <li class="items">Email</li>
      <li class="items">Phone Number</li>
      <li class="items">Whatsapp Number</li>
      <li class="items">Date of Birth</li>
      <li class="items">Address</li>
      <li class="items">Aadhar Number</li>
      <li class="items">Your photo</li>
      <li class="items">Photo of Signature</li>
    </ul>
  </div>
  <div class="form">
    <h4 class="head3">Form link for Membership</h4>
    <div class="button">
        <a class="link" href="">Membership Form</a>
    </div>
    <p class="message"><span class="note">Note:</span> After applying for the membership,
      it may take upto 7 working days to verify 
      and grant your membership (You will only be 
      given membership if you fulfill our all criterias).
    </p>
  </div>
</div>
