<div class="head">
  <h1>MAURYAN X UNITED</h1>
</div>
<div class="">
  <div class="text">
    <p class="para">
      To be the part of the MXU community you must be the part of the 10th batch
      of Sainik School Nalanda. <br />
      If you don't fulfill the above criteria, then you cannot be the part of
      the committee. <br />
    </p>
  </div>
  <div class="link">
    <a class="nav-link" routerLink="home">
      <button class="button">
        <h5>Click here to sign-up/sign-in</h5>
      </button>
    </a>
  </div>
</div>
